.div-p {
    margin: 10px;
}

.div-btn {
    margin: 10px;
}


button {
    width: 140px;
    height: 36px;
    background: #0052dd;
    border: 1px solid #0052dd;
    color: #ffff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 10px;
}